StreamingAssets/ filter=lfs diff=lfs merge=lfs -text
StreamingAssets/ filter=lfs diff=lfs merge=lfs -text
StreamingAssets/* filter=lfs diff=lfs merge=lfs -text
StreamingAssets/** filter=lfs diff=lfs merge=lfs -text
